/* Header Styling */
header {
  width: 100%;
  background-color: white;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo img {
  height: 40px;
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.connect-btn {
  background-color: #ff5d5d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Main Styling */
main {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.hero {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero .text-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-right: 10px;
}
.hero .underline {
  width: 50%; /* Ajuster la largeur de la ligne */
  border: 2px solid #000; /* Couleur et épaisseur de la ligne */
  margin: 5px auto 10px auto; /* Espacement autour de la ligne et centrage */
  margin-left: 30px;
}
.hero .text-content p {
  font-size: 30px;
  color: #555;
  margin-bottom: 20px;
  margin-right: 10px;
}
.hero img {
  display: flex;
  text-align: center;
  margin: auto;
}
.hero button {
  width: 200px;
  height: 50px;
  background-color: #ff5d5d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e1e6efa8;
  color: white;
  height: 100px;
  margin: auto;
}
/* Section texte et image */
.footer-text,
.footer-image {
  flex: 1; /* Prend 50% de l'espace */
  align-items: center;
  justify-content: center;
}

/* Style de l'image */
.footer-image img {
  max-width: 150px;
  height: auto;
}
.footer-text {
  font-size: 14px;
  color: #000;
  text-align: center; /* Centre le texte à l'intérieur du div */
  padding: 0px;
  margin: 0px;
}
.footer-image {
  display: flex;
  justify-content: center; /* Centre l'image horizontalement */
  align-items: center; /* Centre l'image verticalement */
}
